@import '_base';


// login page

.login-page {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    font-weight: 500;
}


.login {
    flex: 1 0 auto;

    &-logo {
        margin-top: 180px;
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &-form-wrap {
        margin-top: 100px;
    }

    // login enter
    &-enter {
        margin-top: 150px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        a {
            min-width: 305px;
            font-weight: 500;
            font-size: 28px;
            line-height: 1;
            margin-bottom: 15px;
            
        }


    }




    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__btn {
            font-weight: 500;
            min-width: 400px;
            height: 60px;
        }

        &__input {
            margin-bottom: 20px;
            font-size: 28px;
            color: #444444;

            &::placeholder {
                color: #999999;
            }
        }
    }

    &-control {
        margin-top: 7px;
        text-align: center;

        a {
            color: #fff;
            font-size: 18px;
        }

        a:nth-child(3) {
            margin-left: 30px;


        }

        &__line {
            position: relative;

            &::after {
                content: '';
                width: 2px;
                height: 15px;
                position: absolute;
                top: 1px;
                right: -15px;
                background-color: #fff;
            }
        }


    }


    &-footer {
        display: flex;
        width: 95%;
        margin: auto;
        flex: 0 0 auto;
        flex-wrap: wrap;
        padding: 0 0 30px 0;

        a {
            color: #fff;
        }

        &__copy {
            flex: 1;
        }

        &__policy {

            a:first-child {
                margin-right: 30px;
            }

        }
    }

    &-logo__small {
        text-align: right;
    }

}

//login forg pass

.rest-pass {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    &__title {
        text-align: center;
        margin-bottom: 35px;
    }

    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__btn {
            font-weight: 500;
            min-width: 400px;
            height: 60px;
            font-size: 28px;
            line-height: 1;
        }

        &__input {
            margin-bottom: 20px;
            font-size: 28px;
            color: #444444;

            &::placeholder {
                color: #999999;
            }
        }
    }
}

.error-pass {
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #C11C11;
    margin-top: 10px;

}


// register
.reg-block {
    margin-top: 40px;

    &-top {
        width: 95%;
        margin: auto;

    }

}

.register {
    margin-top: 60px;
    max-width: 90%;
}

.dealer-upload{
width: 233px;
}

.dealer-wrap__logo {
    p {
        margin-left: 30px;
        font-weight: 300;
        font-size: 20px;
    }
}

.upload {
    display: none;
}

.label-wrap{
    display: flex;
}

.dealer-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
        font-weight: 300;
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
        flex: 1;
    }

    &__btn {
        min-width: 190px;
    }

    &__input {
        min-width: 300px;
        height: 60px;
        background: #FFFFFF;
        box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.17);
        border-radius: 15px;
        margin-bottom: 20px;

        
    }

}

