@font-face {
  font-family: 'Larsseit';
  src: url("../fonts/Larsseit.eot");
  src: local("Larsseit"), url("../fonts/Larsseit.eot?#iefix") format("embedded-opentype"), url("../fonts/Larsseit.woff2") format("woff2"), url("../fonts/Larsseit.woff") format("woff"), url("../fonts/Larsseit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url("../fonts/fontsLarsseit-Medium.eot");
  src: local("Larsseit Medium"), local("Larsseit-Medium"), url("../fonts/Larsseit-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff"), url("../fonts/Larsseit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url("../fonts/Larsseit-Light.eot");
  src: local("Larsseit Light"), local("Larsseit-Light"), url("../fonts/Larsseit-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Larsseit-Light.woff2") format("woff2"), url("../fonts/Larsseit-Light.woff") format("woff"), url("../fonts/Larsseit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
}

body,
input {
  font-family: "Larsseit", sans-serif;
}

.input {
  height: 60px;
  background: #F1F1F1;
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.17);
          box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.17);
  border-radius: 15px;
  text-align: center;
  border: none;
}

button,
.button {
  background: #117BC1;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 15px;
  cursor: pointer;
  padding: 15px 50px;
  color: #fff;
  height: 60px;
}

button:active,
.button:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-filter: saturate(150%);
          filter: saturate(150%);
}

button:focus,
.button:focus {
  background: #117BC1;
}

.disabled-btn {
  color: #333333;
  background: #999999;
}

.image-auto {
  max-width: 100%;
  height: auto;
}

.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  font-weight: 500;
}

.login {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.login-logo {
  margin-top: 110px;
  text-align: center;
  margin-bottom: 85px;
}

.login-logo img {
  max-width: 100%;
  height: auto;
}

.login-enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}

.login-enter__btn {
  min-width: 305px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  margin-bottom: 15px;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
}

.login-form__btn {
  font-weight: 500;
  min-width: 400px;
  height: 60px;
  line-height: 1;
}

.login-form__input {
  margin-bottom: 20px;
  color: #444444;
  min-width: 400px;
}

.login-form__input::-webkit-input-placeholder {
  color: #999999;
}

.login-form__input:-ms-input-placeholder {
  color: #999999;
}

.login-form__input::-ms-input-placeholder {
  color: #999999;
}

.login-form__input::placeholder {
  color: #999999;
}

.login-control {
  margin-top: 7px;
  text-align: center;
}

.login-control a {
  color: #fff;
  font-size: 18px;
}

.login-control a:nth-child(3) {
  margin-left: 30px;
}

.login-control__line {
  position: relative;
}

.login-control__line::after {
  content: '';
  width: 2px;
  height: 15px;
  position: absolute;
  top: 1px;
  right: -15px;
  background-color: #fff;
}

.login-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 30px 0;
}

.login-footer__link {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.login-footer__copy {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.login-footer__policy a + a {
  margin-left: 30px;
}

.login-logo__small {
  text-align: right;
}

.rest-pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rest-pass__title {
  text-align: center;
  margin-bottom: 35px;
}

.rest-pass-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rest-pass-form__btn {
  font-weight: 500;
  min-width: 400px;
  height: 60px;
  font-size: 28px;
  line-height: 1;
}

.rest-pass-form__input {
  margin-bottom: 20px;
  font-size: 28px;
  color: #444444;
  min-width: 400px;
  padding: 16px 25px;
}

.rest-pass-form__input::-webkit-input-placeholder {
  color: #999999;
}

.rest-pass-form__input:-ms-input-placeholder {
  color: #999999;
}

.rest-pass-form__input::-ms-input-placeholder {
  color: #999999;
}

.rest-pass-form__input::placeholder {
  color: #999999;
}

.error-pass {
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #C11C11;
  margin-top: 10px;
}

.reg-block {
  margin-top: 30px;
}

.reg-block-top {
  width: 95%;
  margin: auto;
}

.register {
  margin-top: 20px;
  max-width: 90%;
}

.dealer-upload {
  width: 233px;
}

.dealer-wrap__logo {
  margin-bottom: 65px;
}

.dealer-wrap__logo p {
  margin-left: 30px;
  font-weight: 300;
  font-size: 20px;
}

.upload {
  display: none;
}

.dealer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dealer-row label {
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
}

.dealer-row--btn {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dealer-row--input {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.form-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-register__btn {
  padding: 17px 55px;
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  margin-bottom: 20px;
}

.form-register__input {
  background: #FFFFFF;
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.17);
          box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.17);
  border-radius: 15px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
  padding: 19px;
  height: 60px;
}

.reg-disabled {
  background: #D1D1D1;
}

.company-title {
  font-size: 30px;
}

.company-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.input-block--contact input:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12%;
          flex: 0 0 12%;
  margin-right: 20px;
}

.label-zip,
.label-state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.label-zip input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  margin-right: 25px;
}

.label-state input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.input-block--contact::nth-child(3) {
  margin-left: 30px;
}

.user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.password-block {
  margin-top: 85px;
}

.step-button {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  padding: 17px 20px;
  min-width: 190px;
}

.step-button + .step-button {
  margin-left: 30px;
}

.user-profile {
  overflow-y: auto;
  max-height: 600px;
  scrollbar-color: #838383 #ffffff1f;
  scrollbar-width: auto;
  margin-bottom: 30px;
  padding-right: 25px;
}

.form-profile {
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-profile::-webkit-scrollbar {
  width: 6px;
}

.user-profile::-webkit-scrollbar-track {
  background: #ffffff1f;
  border-radius: 6px;
}

.user-profile::-webkit-scrollbar-thumb {
  background: #838383;
  -webkit-box-shadow: inset 0.5px 0px 0px rgba(0, 0, 0, 0.07), inset 1px 0px 0px rgba(0, 0, 0, 0.02), inset -1px 0px 0px rgba(0, 0, 0, 0.02), inset -0.5px 0px 0px rgba(0, 0, 0, 0.07);
          box-shadow: inset 0.5px 0px 0px rgba(0, 0, 0, 0.07), inset 1px 0px 0px rgba(0, 0, 0, 0.02), inset -1px 0px 0px rgba(0, 0, 0, 0.02), inset -0.5px 0px 0px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

.user-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-row label {
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 70%;
          flex: 1 0 70%;
}

.subcs-table th,
td {
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}

.star-info {
  font-weight: 300;
  font-size: 17px;
  line-height: 17px;
  margin-left: 35px;
}

.star {
  vertical-align: middle;
}

.payment-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment-label input + input {
  margin-left: 20px;
}

.payment-int-block {
  margin-top: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 720px;
  background: #C4C4C4;
  min-width: 778px;
}

.payment-int-block h3 {
  color: #555555;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
}

.payment {
  text-align: center;
}

.payment-title {
  text-align: center;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 30px;
}

.payment-message {
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 65px;
}

.payment-btn {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-width: 306px;
}

.payment-btn input + input {
  margin-left: 20px;
}

.password-reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.password-reset__btn {
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  padding: 16px 20px;
  min-width: 400px;
}

.flag-group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flag-group .select2-container--default .select2-selection--single {
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.17);
          box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.17);
  border-radius: 15px;
  height: 60px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
  padding: 10px 0 10px 20px;
}

.flag-group .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 37px;
}

.flag-group .select2-selection__arrow {
  display: none;
}

.img-flag {
  width: 69px;
  height: 40px;
  float: right;
  border-radius: 10px;
}

.select2-results__option {
  padding: 12px;
  line-height: 37px;
}

.payment-group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment-group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment-group .select2-container--default .select2-selection--single {
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.17);
          box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.17);
  border-radius: 15px;
  height: 60px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
  padding: 10px 0 5px 14px;
}

.payment-group .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 48px;
}

.img-payment {
  width: 60px;
  height: 45px;
  float: left;
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */