$baseColor: #117BC1;
$baseColorLoght: #569ECD;
$baseColorTable: #E6F3FF;
$baseFont: 'Larsseit',
sans-serif;


@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit.eot');
  src: local('Larsseit'),
    url('../fonts/Larsseit.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Larsseit.woff2') format('woff2'),
    url('../fonts/Larsseit.woff') format('woff'),
    url('../fonts/Larsseit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/fontsLarsseit-Medium.eot');
  src: local('Larsseit Medium'), local('Larsseit-Medium'),
    url('../fonts/Larsseit-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Larsseit-Medium.woff2') format('woff2'),
    url('../fonts/Larsseit-Medium.woff') format('woff'),
    url('../fonts/Larsseit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit-Light.eot');
  src: local('Larsseit Light'), local('Larsseit-Light'),
    url('../fonts/Larsseit-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Larsseit-Light.woff2') format('woff2'),
    url('../fonts/Larsseit-Light.woff') format('woff'),
    url('../fonts/Larsseit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

body,
input {
  font-family: $baseFont;
  outline-color: lightgray;
}

.row {
  margin-bottom: 0;
}



//configurator_screen_landing_page
// header

.header {
  // height: 120px;
  // background-image: url(../../img/configurator/header-bg.png);
  // background-repeat: no-repeat;
  // background-size: contain;
  background: rgb(241, 241, 241);
  background: linear-gradient(0deg, rgba(241, 241, 241, 1) 70%, rgba(17, 123, 193, 1) 70%);
}



.logo {
  align-self: center;
  margin-top: 50px;
  text-align: right;

}

.wrap-menu {
  background-color: $baseColor;
  border-bottom-left-radius: 100px;


}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

}

.company-menu {
  align-self: center;
  position: relative;
}



.controls-link {
  position: absolute;
  left: -30px;
  top: 5px;

  &_notification {
    top: 0;
    left: -27px;

  }

  &_help {
    top: 30px;
    left: -55px;
  }

  &_logout {
    top: 70px;
    left: -27px;
  }

}


.controls-alert {
  position: absolute;
  background: #F5473C;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  top: -5px;
  left: 11px;
  color: #FFFFFF;
  vertical-align: middle;

}


.menu {
  display: flex;
  margin-left: 30px;

  &-link:hover {
    svg path {
      stroke: #000;
      transition: 0.2s;
    }
  }

  &-item_active {
    background-color: #fff;

  }

  &-item_active .menu-link svg path {
    stroke: $baseColor;

  }
}




.news {
  display: flex;
  background-image: url(../../img/configurator/screen-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  flex-wrap: wrap;


  &-aside {
    flex: 1 1 30%;
    text-align: center;
    align-self: center;
    padding: 40px;
  }

  &-block {
    flex: 1 1 65%;
    padding: 40px 60px 20px 60px;
    background-color: #fff;



    &-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

  }
}


.blog-news-wrap {
  position: relative;
  margin-bottom: 25px;
  padding: 0;
  flex: 0 0 47%;

}

.blog-news-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 45px;
  top: 50%;
  transform: translate(0, -50%);
  color: #fff;
  max-width: 420px;



  &::before {
    content: '';
    position: absolute;
    width: 134px;
    height: 0px;
    border: 2px solid #FFFFFF;
    transform: rotate(90deg);
    top: 60px;
    left: -80px;
  }

  &__caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
  }

  &__text {
    font-weight: 500;
    font-size: 38px;
    line-height: 40px;
  }

}

.blog-news-img {
  max-width: 100%;
  height: auto;
}




//configurator_screen_new_load_project

.load-project-main {
  display: flex;
  min-height: 800px;
  overflow: auto;
  flex-wrap: wrap;
}

.project-control {
  flex: 1 0 40%;
  padding: 0 20px 0 85px;
  align-self: center;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  justify-content: space-between;



  &-link {
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;

    color: #333333;

  }
}

.project-open,
.project-create {
  margin-right: 30px;
  vertical-align: middle;
}

.load-project {
  flex: 0 1 60%;
  background-color: #fff;
  border: 1px solid red;
}

.load-project_bg {
  // min-height: 965px;
  background-image: url(../../img/configurator/open-project-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 1 60%;
}


.disabled_link {
  color: #999999;
  cursor: not-allowed;

  svg path {
    stroke: #999999;
  }
}


// configurator_screen_new_load_project(open)
.main-table {
  padding: 35px 60px 0 48px;

  &-sort {
    text-align: right;
    margin-bottom: 20px;
  }

  &__control {
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 23px;
    color: #000000;
  }

  &__control+&__control {
    margin-left: 20px;

  }
}

.table-wrap {
  &__title {
    background-color: $baseColor;
    color: #fff;


    th {
      border-radius: 0;
      padding: 3px;
    }
  }
}




@media(max-width: 1245px) {
  .blog-news-wrap {
    position: relative;
    margin-bottom: 25px;
    padding: 0;
    flex: 0 0 100%;

  }
}