$baseColor: #117BC1;
$cancelBtn: #C11C11;
$addBtn: #F2994A;
$baseColorLoght: #569ECD;
$baseColorTable: #E6F3FF;
$baseFont: 'Larsseit',
sans-serif;


@font-face {
  font-family: 'Larsseit';
  src: url('../../fonts/Larsseit.eot');
  src: local('Larsseit'),
    url('../../fonts/Larsseit.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Larsseit.woff2') format('woff2'),
    url('../../fonts/Larsseit.woff') format('woff'),
    url('../../fonts/Larsseit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../../fonts/fontsLarsseit-Medium.eot');
  src: local('Larsseit Medium'), local('Larsseit-Medium'),
    url('../../fonts/Larsseit-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Larsseit-Medium.woff2') format('woff2'),
    url('../../fonts/Larsseit-Medium.woff') format('woff'),
    url('../../fonts/Larsseit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../../fonts/Larsseit-Light.eot');
  src: local('Larsseit Light'), local('Larsseit-Light'),
    url('../../fonts/Larsseit-Light.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/Larsseit-Light.woff2') format('woff2'),
    url('../../fonts/Larsseit-Light.woff') format('woff'),
    url('../../fonts/Larsseit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
}

.body-wrap {
  min-height: 100%;
  width: 100%;
  min-width: 1750px;
}

body,
input {
  font-family: $baseFont;
  outline-color: lightgray;

}

::-webkit-scrollbar {
  width: 6px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: #ffffff1f;
  border-radius: 25px;
}


::-webkit-scrollbar-thumb {
  background: #838383;
  box-shadow: inset 0.5px 0px 0px rgba(0, 0, 0, 0.07), inset 1px 0px 0px rgba(0, 0, 0, 0.02), inset -1px 0px 0px rgba(0, 0, 0, 0.02), inset -0.5px 0px 0px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

.row {
  margin-bottom: 0;
}

button,
.button {
  background: $baseColor;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 15px;
  cursor: pointer;
  padding: 17px 30px;
  color: #fff;
  font-weight: 500;
  height: 60px;


  &:active {
    transform: translateY(1px);
    filter: saturate(150%);
    background: #fff;
    color: $baseColor;
    border: 1px solid $baseColor;
    outline: transparent;

  }

  &:focus {
    background: #fff;
    color: $baseColor;
    border: 1px solid $baseColor;
  }
}



td,
th {
  border-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.cancel-btn {
  background-color: $cancelBtn;
}

.add-btn {
  background-color: $addBtn;
}

.mt-20 {
  margin-top: 20px;
}


//configurator_screen_landing_page
// header

.header {
  position: relative;
  background-color: $baseColor;
}

.vect {
  position: absolute;
  left: 0px;
  bottom: -10px;
  width: 100%;
  z-index: 1;
}



.logo {
  align-self: center;
  margin-top: 70px;
  z-index: 21;
  position: relative;
}

.logo-img {
  width: 175px;
  height: 37px;
}

.wrap-menu {
  background-color: $baseColor;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  position: relative;
  z-index: 6;


}

.company-menu {
  align-self: center;
  position: relative;
  z-index: 12;

}

.company-img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}



.controls-link {
  position: absolute;
  left: -30px;
  top: 5px;
  z-index: 25;

  &_notification {
    top: 0;
    left: -27px;

  }

  &_help {
    top: 30px;
    left: -55px;
  }

  &_logout {
    top: 70px;
    left: -27px;
  }

}


.controls-alert {
  position: absolute;
  background: #F5473C;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  top: -5px;
  left: 11px;
  color: #FFFFFF;
  vertical-align: middle;

}

.controls-alert--check {
  background-color: #117BC1;
  position: absolute;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  top: -5px;
  left: 11px;
  color: #FFFFFF;
  vertical-align: middle;
}


.menu {
  display: flex;
  margin-left: 50px;
  margin-right: 60px;

  &-link svg {
    width: 90%;
  }


  &-link:hover {
    svg path {
      stroke: #000;
      transition: 0.2s;
    }
  }

  &-item_active {
    background-color: #F1F1F1;

  }

  &-item_active .menu-link svg path {
    stroke: $baseColor;

  }
}




.news {
  display: flex;
  background-image: url(../../img/configurator/screen-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  flex-wrap: wrap;


  &-aside {
    flex: 1 1 30%;
    text-align: center;
    align-self: center;
    padding: 40px;

    &-logo {
      border-radius: 50%;

    }

    &-title {
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 32px;

      color: #FFFFFF;
    }
  }

  &-block {
    flex: 1 1 65%;
    padding: 0 60px;
    background-color: #fff;
    overflow: auto;
    max-height: 815px;




    &-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

  }
}


.blog-news-wrap {
  max-width: 528px;
  height: 345px;
  background-color: rgba(0, 0, 0, 0.938);
  position: relative;
  margin-bottom: 15px;
  padding: 0;
  flex: 0 0 47%;

}

.blog-news-item {

  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 45px;
  top: 50%;
  transform: translate(0, -50%);
  color: #fff;
  max-width: 420px;



  &::before {
    content: '';
    position: absolute;
    width: 134px;
    height: 0px;
    border: 2px solid #FFFFFF;
    transform: rotate(90deg);
    top: 60px;
    left: -80px;
  }

  &__caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
  }

  &__text {
    font-weight: 500;
    font-size: 38px;
    line-height: 40px;
  }

}

.blog-news-img {
  max-width: 100%;
  height: auto;
  filter: brightness(50%);
}

.main {
  position: relative;
}


//configurator_screen_new_load_project

.load-project-main {
  display: flex;
  overflow-y: auto;
  height: 85vh;
}

.project-control {
  flex: 0 0 37%;
  padding: 0 20px 0 85px;
  align-self: center;
  display: flex;
  flex-direction: column;
  min-height: 250px;
  justify-content: space-between;



  &-link {
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;

    color: #333333;

  }
}

.project-open,
.project-create {
  margin-right: 30px;
  vertical-align: middle;
  float: left;
}



.load-project_bg {
  background-image: url(../../img/configurator/open-project-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex: 0 1 63%;
}


.disabled_link {
  color: #999999;
  pointer-events: none;

  svg path {
    stroke: #999999;
  }
}


// configurator_screen_new_load_project(open)
.load-project {
  flex: 1 0 63%;
  background-color: #fff;
  display: block;
  width: 100%;
  overflow-x: auto;
}

.main-table {
  padding: 35px 60px 0 48px;


  &-form {
    display: block;
    width: 100%;
    overflow: auto;
    max-height: 670px;
  }

  &-sort {
    text-align: right;
    margin-bottom: 20px;
  }

  &__control {
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 23px;
    color: #000000;

  }

  &__control+&__control {
    margin-left: 20px;

  }
}


.table-wrap {
  margin-bottom: 10px;

  &__title {
    background-color: $baseColor;
    color: #fff;

    th {
      border-radius: 0;
      padding: 8px 10px;
      white-space: nowrap;
      font-weight: normal;
    }
  }

  &__body {

    td {
      padding: 8px 10px;
      white-space: nowrap;

    }

    tr:nth-child(2n) {
      background-color: #e5f3ff;
    }

    tr:hover {
      background-color: #a4d5ff;

    }


  }

  &_responsive {
    width: 100%;
    overflow-x: auto;
  }



}

tr {
  border-bottom: none;
}


.custom-btn {
  background-color: #fff;
}



// configurator_screen_new_load_project(create)

.load-project-create {
  height: 87vh;
}

.new-project-create {
  background-color: #fff;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  max-width: 805px;
  margin: 20px 0 20px 0;
  min-height: 95%;
  overflow-y: auto;

}


.load-project_bg2 {
  background-image: url(../../img/configurator/open-project-bg2.png);
  display: flex;
  justify-content: center;
}


.create-modal-block {
  background: #FFFFFF;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  margin: 26px 0 39px 0;
  min-width: 70%;
}

.create-date {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #777777;
  text-align: right;
  padding: 30px 30px 20px 0;
}

.create-modal-form {
  display: flex;
  flex-direction: column;
  padding: 20px 35px 40px 60px;
}

.label-row {
  display: flex;

  label {
    align-self: center;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    color: #333333;
    flex: 0 0 30%;
    margin-right: 55px;
  }
}

.project-input {
  background: #FFFFFF;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.17);
  border-radius: 15px;
  height: 60px;
  border: none;
  padding: 17px 20px;
  flex: 0 0 50%;
  margin-bottom: 15px;

  &:active,
  &:focus {
    outline: none;
  }

}

.project-input:disabled {
  background: #E5F3FF;
}

.project-button {
  align-self: center;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  width: 100%;
}

.label-row-group {
  margin-top: 50px;

  label {
    align-self: unset;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 50%;


  input {
    margin-bottom: 20px;

  }
}



// select
input[type=search]:not(.browser-default):focus:not([readonly]) {
  box-shadow: none;
  border-bottom: 1px solid grey;
}


.project-select-wrap .select2-container--default .select2-selection--single {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.17);
  border-radius: 15px;
  height: 60px;
  border: none;
  padding: 17px 20px;
  flex: 0 0 50%;
  outline: none;
  margin-bottom: 15px;
  background-image: url(../../img/select-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 95% 25px;
  appearance: none;

  option {
    background: #E6F3FF;
    border-radius: 7px;
  }
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  cursor: not-allowed;
}

.project-select-wrap .select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  padding-left: 20px;
  width: 86%;
}

.select2-container--open .select2-dropdown {
  top: -15px;
}


.search-select .select2-container--default .select2-search--dropdown .select2-search__field {
  background: #F1F1F1;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.17);
  border-radius: 15px;
  background-image: url(../img/input-search.svg);
  background-repeat: no-repeat;
  background-position: 95% 14px;
}

.search-select .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  background: #E6F3FF;
  border-radius: 7px;
  color: #000;
}


.custom-select {
  background-image: url(../../img/select-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 95% 25px;
  appearance: none;

  option {
    background: #E6F3FF;
    border-radius: 7px;
  }

}

// dropdown-content
.dropdown-content {
  width: 500px;
}

// configurator
// user-search
.user-search {
  position: relative;
  z-index: 10;
  background-color: #fff;
  margin-top: 20px;
  padding-bottom: 10px;
}

.search-container {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.main-tabs {
  display: flex;
  position: absolute;
  top: -100px;
  z-index: 1;

  &__items {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    box-shadow: 6px -13px 20px rgba(0, 0, 0, 0.04);
    background-color: $baseColor;
    position: relative;
    z-index: 1;

    a {
      padding: 10px;
    }

    svg path {
      stroke: #fff;
    }

    &--active {
      background-color: #fff;

      a {
        color: #333333;
      }

      svg path {
        stroke: #333333;
      }
    }


  }

  .main-tabs__items--active:first-child {
    border-top-left-radius: 0px;

  }

  &__link {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    width: 145px;
    height: 60px;

    svg {
      margin-right: 10px;
    }

  }
}

.search-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.search-check {
  margin-top: 20px;

}

.search-count-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
}



.search-block {
  display: block;

  &__label {
    display: block;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-bottom: 20px;
  }
}





.search-block__input {
  background-color: #F1F1F1;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.17);
  height: 43px;
  border-radius: 15px;
  padding: 17px 20px;
  background-image: url(../../img/input-search.svg);
  background-repeat: no-repeat;
  background-position: 96% 8px;
  border: none;
  width: 90%;
}

.search-block_btn {
  margin-top: 45px;
}

.search-container-fix {
  max-height: 750px;
  margin-top: 53px;
}

.search-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-top: 17px;
  margin-bottom: 20px;
}

.search-checkbox label {
  display: inline-block;
  width: 160px;
}

[type="checkbox"]+.search-checkbox__label:not(.lever) {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  color: #000000;
  padding-left: 0;
  border: 1px;
}

[type="checkbox"].filled-in:not(:checked)+.search-checkbox__label:not(.lever):after {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid #000;
  top: 0px;
  z-index: 0;
}


[type="checkbox"].filled-in+.search-checkbox__label:not(.lever)::after,
[type="checkbox"].filled-in+.search-checkbox__label:not(.lever)::before {
  left: 145px;
}

[type="checkbox"].filled-in:not(:checked)+.search-checkbox__label:not(.lever):before {
  left: 145px;

}

[type="checkbox"].filled-in:checked+.search-checkbox__label:not(.lever):before {
  left: 145px;
}


[type="checkbox"].filled-in:not(:checked)+.search-checkbox__label:not(.lever):after {
  border-radius: 5px;


}

[type="checkbox"].filled-in:checked+.search-checkbox__label:not(.lever):before {
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
}

[type="checkbox"].filled-in:checked+.search-checkbox__label:not(.lever):after {
  border: 1px solid #000;
  background-color: #E5F3FF;
  border-radius: 5px;
}

[type="checkbox"]+.search-checkbox__label:not(.lever) {
  line-height: 20px;
  height: 20px;
  margin-bottom: 10px;
  width: 100%;
  padding-right: 50px;
  margin-right: 50px;

}

.filled-in:checked+.search-checkbox__label {
  background-color: #E5F3FF;

}

.country-block-fix {
  max-height: 670px;
  width: 100%;
  overflow: auto;
}

.search-country-block {
  margin-bottom: 10px;
}

.country-block-fix .search-country-block:nth-child(odd) .search-w {
  background-color: #E5F3FF;
}

.search-country-title {
  background-color: #fff;
}

.search-country-item {
  margin-bottom: 10px;
}


.search-item-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  p {
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
  }

  a {
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: $baseColor;
  }
}

.search-item-list li {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
}


// users_screen_user_search_dealers
.dealer-card {
  background: #F1F1F1;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 20px !important;
  margin-top: 50px;

}

.dealer-search-item {
  margin-bottom: 30px;
  text-align: right;
}

.main-table-dealer {
  padding: 0 20px;
  height: 550px;
  overflow: auto;
}

.search-count-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.dealer-search-btn {
  margin-top: 28px;
}

.dealer-card-logo img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}


.search-block p {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #333333;

}


.database-toggle__item {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #999999;
  margin-right: 35px;
  margin-bottom: 10px;

  &--active {
    color: #333333;

  }

}

.database-input{
  width: 100%;
}

.main-table-price {
  max-height: 550px;
  width: 100%;
  overflow-y: auto;
}

.pricing-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  text-align: left;
}

.table-price__head {
  background-color: #569ECD;
}

.table-price__bregion {
  strong {
    margin-right: 25px;
  }
}

.centered,
.centered td {
  text-align: center;
}

.table-database {
  width: 100%;
  overflow-x: auto;
}

.table-database__body tr {
  border: 0.3px solid #CCCCCC;
}

.table-database__body td {
  border: 0.3px solid #CCCCCC;
}

.pre-table-title td {
  text-align: center;
}

.pre-table-title td:first-child {
  border-left: 1px solid transparent;

}


.account-row {
  margin-bottom: 75px;
}


.table-database__body td.custom-btn {
  border: 1px solid transparent;
}

.share-icon {
  background-color: #FFC805;
}

.upgrade-input .select2-container--default .select2-selection--single {
  background-color: #FFC773;

}

.profile-upload {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &__logo {
    margin-bottom: 65px;
    width: 233px;
    height: 233px;
    color: #000;


    p {
      margin-left: 30px;
      font-weight: 300;
      font-size: 20px;
    }

  }
}

.multiuser-count {
  margin-bottom: 55px;
}

.upload-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;

}

.upload {
  display: none;

}

#upload-file-inp {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 233px;
  height: 233px;
}


.config-input {
  width: 100%;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.17);
  border-radius: 15px;
  height: 60px;
  border: none;
  padding: 13px 25px;
  margin-bottom: 18px;
}

.config-input:disabled {
  background: #F1F1F1;
  pointer-events: none;
}

.config-label {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 56px;
  color: #000000;
}

.config-label span {
  color: #C11C11;
}

.config-button {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  height: auto;
}

.config-button:disabled {
  background: #858585;
  pointer-events: none;
}


input[type="password"].config-input::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #797979;
}

.more-btn {
  color: #999999;
  cursor: pointer;
  vertical-align: middle;
  line-height: 24px;
  height: 28px;
  font-size: 2rem;
  user-select: none;

}

.filter-tbtn {
  color: #fff;
  cursor: pointer;
  vertical-align: middle;
  line-height: 24px;
  height: 28px;
  font-size: 2.5rem;
  user-select: none;

}

.filter-rbtn {
  color: #333333;
  cursor: pointer;
  vertical-align: middle;
  line-height: 24px;
  height: 28px;
  font-size: 1.5rem;
  user-select: none;
}


.payment-table {
  max-height: 500px;
  overflow: auto;
  font-size: 20px;
}

.payment-table table tbody td {
  padding: 0 15px;
}

.payment-t-img {
  display: flex;
  align-items: center;
}

.payment-t-img img {
  margin-right: 10px;


}

// flag inp
.flag-group {
  align-items: center;
  color: #000;

}

.flag-group .select2-container--default .select2-selection--single {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.17);
  border-radius: 15px;
  height: 60px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
  padding: 15px 5px 15px 20px;
  color: #000;
  outline-color: lightgray;


}

.select2-container--open .select2-dropdown {
  left: 0;
  top: -25px;
}

.flag-group .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 30px;
}

.flag-group .select2-selection__arrow {
  display: none;
}


.img-flag {
  width: 45px;
  height: 26px;
  float: right;
  border-radius: 10px;
}

.select2-results__option {
  padding: 12px;
  line-height: 37px;

}

.search-select .select2-container--default .select2-search--dropdown .select2-search__field {
  background: #F1F1F1;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.17);
  border-radius: 15px;
  background-image: url(../../img/input-search.svg);
  background-repeat: no-repeat;
  background-position: 95% 14px;
}


// preload
.dws-progress-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.progress-percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 38px;
  color: #117BC1;
}

#preloader {
  position: fixed;
  left: 0;
  top: 130px;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #0E161C;
}

.fixx {
  max-width: 900px;
  overflow-x: auto;
}

.dropdown-content {
  overflow: visible;
}

.drop-cont {
  display: none;
  min-width: 220px;
  height: 180px;
  position: absolute;
  top: 0;
  left: -270px;
  background: #fff;
  border-radius: 5px;
}

.drop-cont li:first-child {
  text-align: center;
}

.drop-cont-title {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  padding-top: 15px;
}

.drop-cont>.select2-selection .select2-selection--single {
  width: 150px !important;
}


.pricing-drop {
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.13);
  border-radius: 6px;
  min-width: 290px;
  height: auto!important;
  border-radius: 5px;

}

.edit-pricing-drop {
  background: #FFFFFF;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.13);
  border-radius: 6px;
  min-width: 487px;
  height: auto !important;
  border-radius: 5px;
  z-index: 1;
  outline: none;
  right: 40px;

  h5 {
    margin-bottom: 25px;
  }

}


.config-row>.select2 select2-container .select2-container--default .select2-container--disabled .select2-container--focus {
  width: 400px !important;
}

.config-row:active, .config-row:focus{
  outline: none;
}

.hide {
  display: block;
}

.drop-price-row div>.pricing-drop__btn i {
  color: #fff;
  border-radius: 5px;


}

.pricing-drop li>a {
  color: #333333;
}

.drop-price-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.drop-price-row div>.pricing-drop__btn {
  min-width: 30px;
  height: 30px;
  background: $baseColor;
  display: inline-block;
  border-radius: 5px;
}

.drop-price-row div>.pricing-drop__btn--green {
  background: #197E17;
}

.drop-price-row div>.pricing-drop__btn--red {
  background: #C11C11;
}

.drop-price-row div>.pricing-drop__btn--trash {
  background: #4911C1;
}

.drop-price-row div>.pricing-drop__btn--share {
background: #FFC805;
}


.edit-pricing-row {
  margin: 30px 0 20px 0;
}


// modal-content
.modal .modal-footer {
  height: 85px;
}

.modal-section {
  padding: 20px 15px;
}

.modal-container {
  background: #FFFFFF;
  box-shadow: 4px 4px 11px rgba(0, 0, 0, 0.09);
  border-radius: 26px;
  max-height: 80%;
  padding: 20px;
}

.modal-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  color: #333333;
}


.btn-close {
  position: absolute;
  top: 10px;
  right: 25px;
}

.modal-save__btn {
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  color: #333333;
  text-align: center;

  &--yes {
    color: #197E17;
  }

  &--no {
    color: #C11C11;
  }
}

.dot-icon {
  color: $baseColor;
  vertical-align: bottom;
}

.modal-request {
  max-width: 676px;
}

.notification-modal {
  max-width: 460px;
  height: 303px;
  overflow-y: auto;

  background: rgba(255, 255, 255, 0.75);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(16px);
  border-radius: 6px;
  z-index: 55;
  top: 10px;
  right: -920px;
}

.notification-message:nth-child(odd) {
  background: #E5F3FF;
}

.notification-message:nth-child(even) {
  background: #ffffff;
}

.notification-wrap {
  margin-top: 30px;

}

.notification-message {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 0 15px 5px 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  &__text {
    font-weight: normal;
    line-height: 14px;
    color: #333333;

    h6 {
      font-size: 14px;
    }

    p {
      font-size: 12px;
    }
  }

  &__date {
    font-weight: 300;
    font-size: 10px;
    line-height: 9px;
    color: #999999;
    align-self: center;
    text-align: right;

  }
}

#unity-canvas {
  width: 100%;
  height: auto;
}

.container-con {
  max-width: 1920px;
  margin: 0 auto;
}

div#gameContainer {
  background: transparent !important;
  position: absolute;
}

div#gameContainer canvas {
  position: absolute;
}

div#gameContainer canvas[data-pixel-art="true"] {
  position: absolute;
  image-rendering: optimizeSpeed;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

// media
@media(min-width: 1810px) {
  .country-block-fix .search-country-block:nth-child(odd) .search-w {
    width: 95%;
  }

}

@media(min-width: 2140px) {
  .country-block-fix .search-country-block:nth-child(odd) .search-w {
    width: 80%;
  }

}


@media(min-width: 1925px) {
  .main-nav {
    justify-content: space-around;
  }

  .menu-item {
    width: 30%;
  }

  .main-table-form {
    overflow: visible;
    height: 100%;
  }

  .payment-table {
    max-height: 950px;
  }

  .main-table-price {
    max-height: 700px;
  }


  .new-project-create {
    height: 85%;
    overflow-y: auto;
  }
}


@media(min-width: 1420px) and (max-width: 1750px) {

  html,
  body {
    -ms-zoom: 90%;
    zoom: 90%;
  }

}

@media(min-width: 1265px) and (max-width: 1420px) {

  html,
  body {
    -ms-zoom: 85%;
    zoom: 85%;
  }

}

@media(max-width: 1265px) {

  html,
  body {
    -ms-zoom: 75%;
    zoom: 75%;
  }

}

@media(min-width: 2050px) {
  .news-block {
    flex: 1 1 47%;
  }
}